In [7]:
import numpy as np
import pandas as pd
X_train = np.array([
    [0,1,1],
    [0,1,1],
    [0,1,1],
    [0,1,1]
])

In [10]:
X_train[3,:].sum(axis=0)

2

In [11]:
float('inf')

inf

In [12]:
10.001 == float('inf')

False

In [3]:
k = np.zeros([4,3], dtype=np.float32)
k

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]], dtype=float32)

In [5]:
from collections import defaultdict
y = defaultdict(int)
y

defaultdict(int, {})

In [8]:
df = pd.DataFrame({
    "Letter": ["a", "b", "c"],
    "Country": ["Andorra", "Belgium", "Croatia"],
    "Capital": ["Andorra la Vella", "Brussels", "Zagreb"],
    "GDP per capita": [41873, 42787, 12984]    
})

In [10]:
x = df.drop(columns=["Letter"])
x

   Country           Capital  GDP per capita
0  Andorra  Andorra la Vella           41873
1  Belgium          Brussels           42787
2  Croatia            Zagreb           12984

In [11]:
df

  Letter  Country           Capital  GDP per capita
0      a  Andorra  Andorra la Vella           41873
1      b  Belgium          Brussels           42787
2      c  Croatia            Zagreb           12984