In [1]:
# let import Pandas
import pandas as pd

```nlargest Function```: Return the largest n elements.

* **Parameters**: default 5. Return this many descending sorted values.

    * **keep**: {‘first’, ‘last’, ‘all’}, default ‘first’. When there are duplicate values that cannot all fit in a Series of n elements.

    * **first**: return the first n occurrences in order of appearance.

    * **last**: return the last n occurrences in reverse order of appearance.

    * **all**: keep all occurrences. This can result in a Series of size larger than n.

In [6]:
# lets create a Dataframe with Country Population

countries_population = {"Italy": 59000000, "France": 65000000,
                        "Malta": 434000, "Maldives": 434000,
                        "Brunei": 434000, "Iceland": 337000,
                        "Nauru": 11300, "Tuvalu": 11300,
                        "Anguilla": 11300, "Montserrat": 5200}
s = pd.Series(countries_population)

# lets Print the Dataset
s

Italy         59000000
France        65000000
Malta           434000
Maldives        434000
Brunei          434000
Iceland         337000
Nauru            11300
Tuvalu           11300
Anguilla         11300
Montserrat        5200
dtype: int64

In [7]:
# lets check the Top 5 Populated Countries
s.nlargest()

France      65000000
Italy       59000000
Malta         434000
Maldives      434000
Brunei        434000
dtype: int64

In [8]:
s.nlargest(3)

France    65000000
Italy     59000000
Malta       434000
dtype: int64

In [9]:
s.nlargest(7)

France      65000000
Italy       59000000
Malta         434000
Maldives      434000
Brunei        434000
Iceland       337000
Nauru          11300
dtype: int64

In [10]:
s.nlargest(3, keep='last')

France    65000000
Italy     59000000
Brunei      434000
dtype: int64

In [11]:
s.nlargest(3, keep='all')

France      65000000
Italy       59000000
Malta         434000
Maldives      434000
Brunei        434000
dtype: int64

```nsmallest Function```: Return the first n rows ordered by columns in ascending order.It Return the first n rows with the smallest values in columns, in ascending order. The columns that are not specified are returned as well, but not used for ordering.

* **Parameters** Number of items to retrieve.
    * **keep**: {‘first’, ‘last’, ‘all’}, default ‘first’ Where there are duplicate values:

    * **first** : take the first occurrence.

    * **last** : take the last occurrence.

    * **all** : do not drop any duplicates, even it means selecting more than n items.

In [14]:
s.nsmallest(3)

Montserrat     5200
Nauru         11300
Tuvalu        11300
dtype: int64

In [16]:
s.nsmallest(3, keep = 'all')

Montserrat     5200
Nauru         11300
Tuvalu        11300
Anguilla      11300
dtype: int64

In [18]:
s.nsmallest(3, keep = 'first')

Montserrat     5200
Nauru         11300
Tuvalu        11300
dtype: int64