In [6]:
# lets import the Pandas Library
import pandas as pd
import numpy as np

In [8]:
# lets create a DataFrame
df = pd.DataFrame([[2.0, 1.0],
                   [3.0, np.nan],
                   [1.0, 0.0]],
                   columns=list('AB'))

df

     A    B
0  2.0  1.0
1  3.0  NaN
2  1.0  0.0

```Cumulative Functions```: min, max, sum, and Prod.
    
    * It can also be used with Groupby

In [9]:
# lets try these Cumulative Functions
df.cummin() #It Returns the Cumulative Minimum value

     A    B
0  2.0  1.0
1  2.0  NaN
2  1.0  0.0

In [10]:
# Lets try Cumulative Maximum
df.cummax()

     A    B
0  2.0  1.0
1  3.0  NaN
2  3.0  1.0

In [11]:
# lets try cumulative Sum
df.cumsum()

     A    B
0  2.0  1.0
1  5.0  NaN
2  6.0  1.0

In [12]:
# lets try cumulative product
df.cumprod()

     A    B
0  2.0  1.0
1  6.0  NaN
2  6.0  0.0

```Rolling Functions```: Used with all the Aggregate Functions with a Rolling value

In [13]:
# lets Create a DataFrame
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9]})
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [14]:
# lets try the rolling sum function
df.rolling(2).sum()

     A     B     C
0  NaN   NaN   NaN
1  3.0   9.0  15.0
2  5.0  11.0  17.0

In [16]:
df.rolling(2).agg({"A": "sum", "B": "min"})

     A    B
0  NaN  NaN
1  3.0  4.0
2  5.0  5.0