In [1]:
# lets Import Pandas
import pandas as pd

```at_time Function```: Select values at particular time of day (e.g., 9:30AM).

* **Parameters**: 
    * timedatetime.time or str
    * axis{0 or ‘index’, 1 or ‘columns’}, default 0

* **Returns**: Series or DataFrame

In [11]:
# Lets Create time Series
i = pd.date_range('2018-04-09', periods = 7, freq='12H')
ts = pd.DataFrame({'A': [91, 2, 13, 4, 45, 8, 0]}, index=i)
ts

                      A
2018-04-09 00:00:00  91
2018-04-09 12:00:00   2
2018-04-10 00:00:00  13
2018-04-10 12:00:00   4
2018-04-11 00:00:00  45
2018-04-11 12:00:00   8
2018-04-12 00:00:00   0

In [7]:
ts.at_time('12:00')

                     A
2018-04-09 12:00:00  2
2018-04-10 12:00:00  4
2018-04-11 12:00:00  8

```between_time Function```: Select values between particular times of the day (e.g., 9:00-9:30 AM).By setting start_time to be later than end_time, you can get the times that are not between the two times.

* **Parameters**:
    * start_timedatetime.time or str: Initial time as a time filter limit.

    * end_timedatetime.time or str: End time as a time filter limit.

    * include_startbool, default True: Whether the start time needs to be included in the result.

    * include_endbool, default True: Whether the end time needs to be included in the result.

    * axis{0 or ‘index’, 1 or ‘columns’}, default 0: Determine range time on index or columns value.

* **Returns**: Series or DataFrame

In [17]:
i = pd.date_range('2018-04-09', periods = 7, freq='1D20min')
ts = pd.DataFrame({'A': [15, 42, 73, 44, 56, 2, 7]}, index=i)

In [18]:
#You get the times that are not between two times by setting start_time later than end_time:
ts.between_time('0:00', '0:50')

                      A
2018-04-09 00:00:00  15
2018-04-10 00:20:00  42
2018-04-11 00:40:00  73