In [2]:
#lets import pandas
import numpy as np
import pandas as pd

### Reindex function is used to reorder the index in the dataframe

In [3]:
index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
df = pd.DataFrame(
    {
        'http_status': [200,200,404,404,301],
        'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]
    },
    index=index
)
df

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [8]:
new_index = ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10', 'Chrome']
df.reindex(new_index)

               http_status  response_time
Safari               404.0           0.07
Iceweasel              NaN            NaN
Comodo Dragon          NaN            NaN
IE10                 404.0           0.08
Chrome               200.0           0.02

In [10]:
data = pd.read_csv('movie.csv')
data.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [12]:
data['genres'].str.split('|')

0       [Adventure, Animation, Children, Comedy, Fantasy]
1                          [Adventure, Children, Fantasy]
2                                       [Comedy, Romance]
3                                [Comedy, Drama, Romance]
4                                                [Comedy]
                              ...
9120                          [Adventure, Drama, Romance]
9121                 [Action, Adventure, Fantasy, Sci-Fi]
9122                                        [Documentary]
9123                                             [Comedy]
9124                                        [Documentary]
Name: genres, Length: 9125, dtype: object

In [13]:
data['y'] = data['title'].str.split(' ')
data['year'] = data['y'].apply(lambda x: x[-1])

In [14]:
data['year']

0        (1995)
1        (1995)
2        (1995)
3        (1995)
4        (1995)
         ...
9120     (2016)
9121     (2016)
9122     (2016)
9123     (1936)
9124    Unboxed
Name: year, Length: 9125, dtype: object

In [15]:
data['year'] = data['year'].str.strip('(')
data['year'] = data['year'].str.strip(')')
data['year']

0          1995
1          1995
2          1995
3          1995
4          1995
         ...
9120       2016
9121       2016
9122       2016
9123       1936
9124    Unboxed
Name: year, Length: 9125, dtype: object